* {
  margin: 0;
  padding: 0;
}
body {
  background-color: F5F5F5;
  letter-spacing: 1.5px;
  padding: 5px;

  /* font: 12px Sans-Serif; */
}

.container {
  display: grid;
  grid-template-columns: auto 95%;
  grid-template-rows: 6% 4% 90%;
  column-gap: 20px;
  row-gap: 10px;
}

header {
  /* background-color: red; */
  grid-column: 1 / -1;
  border-bottom: solid 1px;
}

.tools {
  grid-column: 1 / -1;
  align-items: end;
  text-align: end;
  margin-right: 30px;
  /* border-bottom: ; */
}
h5 {
  text-transform: uppercase;
}

aside {
  border-right: solid 1px;
  height: 610px;
}

article {
  display: grid;
  grid-template-rows: 20% 80%;
  row-gap: 20px;
}

article header {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article header .headings {
  display: flex;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.content .groups {
  display: grid;
  column-gap: 10px;
  row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.content .groups div {
  height: 200px;
  border-left: solid 1px;
  padding-left: 10px;
}

/* styling below  */

header h1 {
  font-weight: normal;
  padding-left: 10px;
}

aside h3 {
  transform: rotate(-90deg);
  text-transform: uppercase;
  background-color: white;
}

nav h3 {
  text-transform: uppercase;
  width: auto;
}
